@charset "UTF-8";

/*Versao demais tipos: Tablet, Desktop e Grandes Telas*/

/*Pesquisas de BreakPoint 2025
Pequenas Telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 768px até 1200px
Grandes Telas: acima de 1200px */

@media screen and (min-width:768px) and (max-width:992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#Not{display: none;}
    img#phone{display: none;}
    img#Tv{display: none;}
    img#Tablet{display: block;
    margin: auto;}
    img#print{display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#Not{display: block;
    margin: auto;}
    img#phone{display: none;}
    img#Tv{display: none;}
    img#Tablet{display: none;}
    img#print{display: none;}
}

@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#Not{display: none;}
    img#phone{display: none;
    margin: auto;}
    img#Tv{display: block;
    margin: auto;}
    img#Tablet{display: none;}
    img#print{display: none;}
}
